.sidebar{
    width: 15%;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.panelContainer{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0% 10%;
}

.panel{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 1% 5%;
}

.toggleGroup{
    width: 15%;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.24);
}

.modalContent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: white;
    margin: auto;
    padding: 2% 2%;
    border-radius: 10px;
    overflow-y: scroll;
}

.modalContent::-webkit-scrollbar {
    display: none;
  }

.controllContainer{
    display: flex;
    gap: 1%;
}

.noMarg{
    margin: 0;
}

.searchBar{
    flex-grow: 1;
}

.input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: #E1E4EA;
    border: none;
    width: 100%;
    display: auto;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.button{
    width: fit-content;
    display: auto;
    background-color: #567ECA;
    border: none;
    color: #E1E4EA;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2em 0;
    cursor: pointer;
    font-size: large;
    border-radius: 10px;
}

.textP{
    width: fit-content;
}
  
.margTop{
    margin-top: 0px;
}

.spaceBetween{
    justify-content: space-between;
}