.event{
    background-color: white;
    width: 80%;
    padding: 3% 7%;
    margin: 0 2% 5% 2%;
    border-radius: 7px;
    font-weight: 500;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tags{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1 25%;
    width: 50%;
    gap: 1.5rem;
}

.tag{
    background-color: #8DAAE1;
    width: 30%;
    text-align: center;
    flex-wrap: wrap;
    color: #E1E4EA;
    padding: 1.5% 7%;
    border-radius: 20px;
    font-weight: normal;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    width: 50%;
}

.acceptBtn {
    background-color: #567ECA;
    color: #E1E4EA;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    padding: 20px;
    border: 0px solid #000;
    border-radius: 20px;

    cursor: pointer;
    width: 25%; /* Adjust the width as per your preference */
}

.acceptBtn:hover{
    background-color: #7093cf;
}
.acceptBtn:active{
    transform: scale(0.95);
}

.leaveBtn {
    background-color: #EE4747;
    color: #E1E4EA;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    padding: 20px;
    border: 0px solid #000;
    border-radius: 20px;

    cursor: pointer;
    width: 25%; /* Adjust the width as per your preference */
}

.leaveBtn:hover{
    background-color: #E96A6A;
}
.leaveBtn:active{
    transform: scale(0.95);
}

.container{
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width:769px) {
    .event{
        justify-content: flex-start;
        padding: 3% 5%;
        margin: 5%;
        width: 80%;
        
    }

    .main,.container{
        flex-direction: column;
        align-items: self-start;
        z-index: 0;
    }


    .acceptBtn{
         /* When I scroll, I don't want the acceptBtn to overflow the navbar*/
        position: fixed;
        z-index: 1; 
        padding: 5% 3%;
        margin: 5% 0;
        width: 20%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 10%;
        
    }
}
.Dept {
    justify-content: flex-start;
    padding: 5px;
    margin-top: 5%;
    margin-right: 2%;
    margin-left:0;
    margin-bottom: 5%;
    width: 80%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 15px;
}

#create
{  margin-left:1px;
    background-color: #e1e4ea;
    width: 20%;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    border: 0px solid #e1e4ea;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;

}