.event{
    background-color: white;
    width: 80%;
    padding: 3% 7%; 
    margin: 0 2% 5% 2%;
    border-radius: 7px;
    font-weight: 500;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tags{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1 25%;
    width: 50%;
    gap: 1.5rem;
}

.tag{
    background-color: #8DAAE1;
    width: 30%;
    text-align: center;
    flex-wrap: wrap;
    color: #E1E4EA;
    padding: 1.5% 7%;
    border-radius: 20px;
    font-weight: normal;
}

.details{
    display: flex;
    flex-direction: column;
    margin: 7% 5%;
    padding: 5% 0;
    width: 50%;
}

.acceptBtn{
    background-color: #567ECA;
    text-align: center;
    justify-content: center;
    color: #E1E4EA;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    margin: 0 50%;
    padding: 5% 25%;
    border: 0px solid #000;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.acceptBtn:hover{
    background-color: #7093cf;
}
.acceptBtn:active{
    transform: scale(0.95);
}

.container{
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width:769px) {
    .event{
        justify-content: flex-start;
        padding: 3% 5%;
        margin: 5%;
        width: 80%;
        
    }

    .main,.container{
        flex-direction: column;
        align-items: self-start;
        z-index: 0;
    }


    .acceptBtn{
         /* When I scroll, I don't want the acceptBtn to overflow the navbar*/
        position: fixed;
        z-index: 1; 
        padding: 5% 3%;
        margin: 5% 0;
        width: 40%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 10%;
        
    }
}