.mapboxgl-map {
    border-radius: 8px;
  }
  
  .markerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .markerButton img {
    width: 30px;
    height: 30px;
  }
  
  .mapboxgl-popup {
    max-width: 200px;
    font-size: 14px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
  
  .mapboxgl-popup h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .mapboxgl-popup p {
    margin: 0;
  }
  